.h1 {
    color: #808080;
    font-family: Palatino;
}

.h3 {
    color: #808080;
    font-family: Palatino;
}


.textfield {
    width: 500px;
    height: 250px;
    font-family: Palatino;
}



.button {
    font-family: Palatino;
}

.slanglate {
    width: 150px;
    height: 50px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007fc3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    vertical-align:text-bottom;
}

.slanglate:hover {
    background-color: #6E7A82
}

.slanglate:active {
    background-color: #6E7A82;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
