#background {
background-color: white;
}

h1 {
color: #0c0;
    font-family: Palatino;
}

h3 {
    color: #ff8800;
    font-family: Courier;
}

#input {
font-family: Palatino;
color: #0c0;
font-weight: bold;
background-color: #f0f0f0;
}

#input:hover {
background-color: #e0e0e0;
}

#output {
font-family: Courier;
color: #ff8800;
font-weight: bold;
background-color: #f0f0f0;
}

#output:hover {
    background-color: #e0e0e0;
    }

.textfield {
    width: 500px;
    height: 250px;
    font-family: Palatino;
}



button {
    font-family: Palatino;
}

.slanglate {
    width: 150px;
    height: 50px;
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007fc3;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    vertical-align:text-bottom;
}

.slanglate:hover {
    background-color: #004f93
}

.slanglate:active {
    background-color: #6E7A82;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}




.lightMode{
    background-color: #fff; 
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.lightMode:hover{
    background-color: #ccc
}

.darkMode{
    background-color: #000; 
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.darkMode:hover{
    color: #ccc
}

.background{
    background-color: blue;
}